*{
	margin:0;
	padding:0;
	text-decoration:none;
	font-family: 'M PLUS Code Latin', sans-serif;
}

.header{
	min-height:100vh;
	width:100%;
	background:linear-gradient(45deg,#22046b,#e14e42);
}

nav{
	
	width:100%;
}

lebel.logo{
	font-size:29px;
	padding:0 80px;
	font-weight:bold;
	line-height:50px;
	color:yellow;
	border:2px solid cyan;
	border-radius:70px;
}

.nav-links{
	float:right;
	margin-right:30px;
}

.nav-links ul li{
	display:inline-block;
	line-height:50px;
	padding:15px;
}

.nav-links ul li a{
	color:white;
	font-size:17px;
	text-transform:uppercase;
}

.nav-links ul li::after{
	content:'';
	width:0%;
	height:2px;
	background:linear-gradient(to right,#ffff00 0%,#ff3399 100%);
	display:block;
	margin:auto;
	transition:0.5s;
}

.nav-links ul li:hover::after{
	width:100%;
}
.main{
width:90%;
margin-left:7%;
margin-top:50px;
}
.title{
letter-spacing:2px;
font-size:40px;
color:white;
}
.para{
margin-top:10px;
letter-spacing:1px;
color:white;
text-align: justify;
}
.para span{
color:red;
}

.recent1{
	width:100%;
	margin:auto;
	}

.rowdesign{
	margin:4% 7%;
	display:flex;
	justify-content:space-between;
}


.coldesign img{
	border-radius:20px;
}
@media(max-width:750px){
	.rowdesign{
		flex-direction:column;
	}

