*{
	margin:0;
	padding:0;
	text-decoration:none;
	font-family: 'M PLUS Code Latin', sans-serif;
}

.header{
	min-height:100vh;
	width:100%;
	background:linear-gradient(45deg,#22046b,#e14e42);
}

nav{
	
	width:100%;
}

lebel.logo{
	font-size:29px;
	padding:0 80px;
	font-weight:bold;
	line-height:50px;
	color:yellow;
	border:2px solid cyan;
	border-radius:70px;
}

.nav-links{
	float:right;
	margin-right:30px;
}

.nav-links ul li{
	display:inline-block;
	line-height:50px;
	padding:15px;
}

.nav-links ul li a{
	color:white;
	font-size:17px;
	text-transform:uppercase;
}

.nav-links ul li::after{
	content:'';
	width:0%;
	height:2px;
	background:linear-gradient(to right,#ffff00 0%,#ff3399 100%);
	display:block;
	margin:auto;
	transition:0.5s;
}

.nav-links ul li:hover::after{
	width:100%;
}

.row{
	width:80%;
	min-height:85vh;
	margin:auto;
	display:flex;
	flex-wrap:wrap;
}

.col{
	margin:20px 0;
	flex-basis:50%;
	min-width:300px;
	height:100%;
	position:relative;
}

.text{
	max-width:400px;
	margin-top:150px;
}

.text h5{
	color:cyan;
	font-size:20px;
}

.text h2{
	font-size:45px;
	color:yellow;
	letter-spacing:3px;
}

.galary{
	max-width:600px;
	position:relative;
	margin-top:80px;
}

.galary img {
	width:100%;
	border:5px solid rgba(255,255,255,0.2);
}
.copyright{
	text-align:center;
	background-color:black;
}
.crdesign{
	color:white;
}
